{% extends 'main/index.html' %}
{% block content %}
{% load static %}
<div class="content">
   <div class="wrap">
       <div class="warning" hx-get="/clear/" hx-trigger="load delay:2s">
{% for message in messages %}
<div class= "alert alert-info" role="alert">
  <strong>{{ message }} <a href="{% url 'personal_account'  user.id %}"></a></strong>
</div>
{% endfor %}
</div>
       <h1>Калькулятор стоимости работ</h1>
       <form action="{% url 'calculate-apartments' %}" method="post" class="form_calculate">
    {% csrf_token %}
        <table class="title_table">
    <thead>
    <tr style="font-size: 120%">
        <th>Наименование работ</th>
        <th>Цена</th>
        <th>Ед.изм.</th>
    </tr>
    </thead>
    {% for field in price %}
    <tr style="width: 20px;height: 40px">
        <td style="text-align: start; padding-left: 5px">{{ field.title }}</td>
        <td><input type='number'   name="square" placeholder="м2" style="width: 100px"></td>
        <td>{{ field.unit }}</td>
    </tr>
    {% endfor %}
    </table>
            <button class="btn btn-success btn-lg" type="submit" style="position: fixed">Рассчитать</button>
       </form>

       </div>
</div>
{% endblock %}